@import "imported.css";
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    margin: 8px;
}
.container{
    display:flex;
    flex-direction: column;
    padding: 1%;
}
section[name=top]{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 30;
    margin-top: -8px;
}
section[name=top]>.logo{
    /* background-color: aqua; */
    flex:1 100px;
}
img{
    height: auto;
}
section[name=top]>.nav{
    /* background-color: red; */
    flex:3 700px;
    /* align-self: center; */
    /* height: 100%; */
    display:flex;
    justify-content: flex-end;
}
.navbg{
    background-color: rgba(255, 0, 162, 1);
}
section[name=top]>.nav>ul{
    align-self: center;
}
section[name=top]>.contact{
    /* background-color: yellow; */
    flex:1 100px;
}
section[name=top]>.contact li{
    list-style: none;
    display:inline;
}

section[name=hero]{
    height:50vh;
    display: flex;
    flex-direction: row;
    background-image: url("https://via.placeholder.com/728x250.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section[name=hero]>.headline{
    align-self: center;
}

section[name=pricing]{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section[name=services]{
    
}
section[name=services]>.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


section[name=testimonials]{

}

section[name=certificates]{

}

section[name=footer]{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div>h1, section>h1{
    text-align: center;
}
div>h2{
    text-align: center;
}
div>p{
    text-align: center;
}

